/*
Basic of template
*/
html{
    height: 100%;
}
body{
    font-size: 13px;
    font-weight: 400;
        color: #666;
    line-height: 1.6;
    letter-spacing: 0em;
    font-family: $base-font;
    overflow-x: hidden;
         background-color: #f5f6f7;
    position:relative;
}
.rounded{
    border-radius: 100px!important;
}
.shadow{
        box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
        border: 0px!important;
}
.shadow-primary{
        box-shadow: 0 2px 30px 0 $primary-color;
        border: 0px!important;
}
button, input, optgroup, select, textarea{
    font-family: $base-font;
}
button{
    &:focus{
        outline: 0!important;
    }
}
a,.simple-hover img,button,.btn{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
a{
color:$primary-color;
    text-decoration:none;
    &:hover,&:focus{
        text-decoration: none;
        outline: 0!important;
        color:#666;
    }
}
.base-font{
    font-family: $base-font;
    font-weight: 300;
}
.font300{
    font-weight: 300!important;
}
.font400{
    font-weight: 400!important;
}
.font500{
    font-weight: 500!important;
}
.font600{
    font-weight: 600!important;
}
.font700{
    font-weight: 700!important;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin-top: 0px;
    color: #222;
    font-weight:600;
    letter-spacing: 0px;
    font-family: $title-font;
}
.label{
    display: inline-block;
    padding: 1px 7px;
    border-radius: 2px;
    font-size:10px;
}
.label-default{
    background-color:$default-color;
    color:#777;
}
.label-primary{
    background-color:$primary-color;
    color:#fff;
}
.label-success{
    background-color:$success-color;
    color:#fff;
}
.label-info{
    background-color:$info-color;
    color:#fff;
}
.label-warning{
    background-color:$warning-color;
    color:#fff;
}
.label-danger{
    background-color:$danger-color;
    color:#fff;
}
.bg-faded{
    background:#F9F9F9;
}
.badge {
font-size: 9px;
padding:0px 4px;
    color: #fff;
    background-color: #f1f3f6;
    min-width: 16px;
    min-height: 16px;
    display: -ms-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 16px;
}
.bg-primary,.badge-primary{
    background: $primary-color!important;
    border-color:$primary-color;
}
.bg-success,.badge-success{
    background: $success-color!important;
    border-color:$success-color;
}
.bg-warning,.badge-warning{
    background: $warning-color!important;
    border-color:$warning-color;
}
.bg-info,.badge-info{
    background-color: $info-color!important;
    border-color:$info-color;
}
.bg-danger,.badge-danger{
    background-color: $danger-color!important;
    border-color:$danger-color;
}
.bg-dark,.badge-dark{
    border-color:$dark-color!important;
    background-color:$dark-color;
}
.bg-white,.badge-white{
    background: #fff;
}
.text-muted{
    color: #999!important;
}
.text-primary{
    color: $primary-color!important;
}
.text-danger{
    color: $danger-color!important;
}
.text-success{
    color: $success-color!important;
}
.text-warning{
    color: $warning-color!important;
}
.text-info{
    color: $info-color!important;
}
.text-white{
     color:rgba(#fff,1)!important;
}
.text-dark{
     color:rgba(#222,1)!important;
}
.text-white-gray{
    color:rgba(#fff,.8)!important;
}
.text-small{
    font-size:12px!important;
}
.border-round{
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.pos-relative{
    position:relative;
}

.lead{
    font-weight: 300;
}
strong,b{
    font-weight: 600;
}
.fWidth{
    width: 100%!important;
}
.oHidden{
    overflow: hidden!important;;
}
.mb5{
 margin-bottom:5px!important;
}
.pl0{
    padding-left: 0!important;
}
.pr0{
    padding-right: 0!important;
}
.mr0{
    margin-right:0px!important;
}
.pt0{
    padding-top: 0!important;
}
.pt10{
    padding-top: 10px!important;;
}
.pt20{
    padding-top: 20px!important;;
}
.pt30{
    padding-top: 30px!important;;
}
.pt40{
    padding-top: 40px!important;;
}
.pt50{
    padding-top: 50px!important;;
}
.pt60{
    padding-top: 60px!important;;
}
.pt70{
    padding-top: 70px!important;;
}
.pt80{
    padding-top: 80px!important;;
}
.pt90{
    padding-top: 90px!important;;
}
.pt100{
    padding-top: 100px!important;;
}
.pb0{
    padding-bottom: 0!important;
}
.pb10{
    padding-bottom: 10px!important;
}
.pb15{
    padding-bottom: 15px!important;
}
.pb20{
    padding-bottom: 20px!important;
}
.pb30{
    padding-bottom: 30px!important;
}
.pb40{
    padding-bottom: 40px!important;
}
.pb50{
    padding-bottom: 50px!important;
}
.pb60{
    padding-bottom: 60px!important;
}
.pb70{
    padding-bottom: 70px!important;
}
.pb80{
    padding-bottom: 80px!important;
}
.pb90{
    padding-bottom: 90px!important;
}
.pb100{
    padding-bottom: 100px!important;
}
.mb0{
    margin-bottom: 0!important;
}
.mb5{
    margin-bottom: 5px!important;
}
.mb10{
    margin-bottom: 10px!important;
}
.mb20{
    margin-bottom: 20px!important;
}
.mb30{
    margin-bottom: 30px!important;
}
.mb40{
    margin-bottom: 40px!important;
}
.mb50{
    margin-bottom: 50px!important;
}
.mb60{
    margin-bottom: 60px!important;
}
.mb70{
    margin-bottom: 70px!important;
}
.mb80{
    margin-bottom: 80px!important;
}
.mb90{
    margin-bottom: 90px!important;
}
.mb100{
    margin-bottom: 100px!important;
}
.mt5{
    margin-top:5px!important;
}
.mt10{
    margin-top:10px!important;
}
.mt20{
    margin-top:20px!important;
}
.mt30{
    margin-top:30px!important;
}
.mt40{
    margin-top:40px!important;
}
.mt50{
    margin-top:50px!important;
}
.mt80{
    margin-top:100px!important;
}
.mt100{
    margin-top:100px!important;
}
.bg-default{
    background-color: $default-color!important;
}
.bg-gray{
    background-color: #fbfbfb;
}

.border0-hor{
    border-left: 0!important;
    border-right: 0!important;
}
.text-sm{
    font-size:13px!important;
}
@media(min-width:992px){
    .page-wrapper{
        width:100%;
        min-width:300px;
         padding-left: 220px;
         transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    }
}
.page-wrapper{
    min-height: 100%;
    display:block;
    width:100%;
    position: relative;
}
.main-content{
    min-height: 100vh;
    padding-bottom: 40px;
}
.page-footer{
    position: absolute;
    left:220px;
    bottom:0;
    height:40px;
    line-height: 40px;
    padding:0px 15px;
    width:100%;
    .container{
        max-width: 100%;
    }
}
.page-wrapper.sidebar-enable .page-footer .container{
    max-width: 1200px;
}
.content{
    padding: 0px 15px;
}
    .container{
        width:100%;
        max-width:1200px;
        margin:0 auto;
    }
    .layout-accounts{
        height: 100%;
        .account-wrap{
            width: 100%;
            height: 100%;
            display: table;
            position: relative;
            .account-card{
                display: table-cell;
                vertical-align: middle;
                .account-content{
                     max-width: 600px;
                margin: 10px auto;
                padding: 30px 15px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
                }
            }
        }
    }
    label.error{
        display: block;
        font-weight: 400;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top:5px;
        border: 1px solid $danger-color;
        color: $danger-color;
        font-size: 12px;
    }

    /**remove this css **/
    .grid-col{
        padding:10px 15px;
        background-color:#fff;
        box-shadow:0px 0px 20px rgba(0,0,0,0.02);
        border-radius:5px;
        color:$danger-color;text-align:center;
        margin-bottom:15px;
        font-weight:700;
    }
    .icon-card{
        border:1px solid #eee;
        padding:20px;
        >i{
            font-size:30px;
            margin-bottom:20px;
            display:inline-block;
        }
        h5{
            color:#888;
            font-weight:400;
            font-size:.8rem;
        }
    }


    /********************Responsive Utilities*********************/
    @media(max-width:991px){
        .hidden-lg-down{
            display: none;
        }
    }
        @media(max-width:767px){
        .hidden-md-down{
            display: none;
        }
    }
        @media(max-width:576px){
        .hidden-sm-down{
            display: none;
        }
    }

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(-225deg, rgba(0,101,168,1) 0%, rgba(0,36,61,0.8) 50%), url('http://fintechnews.ch/wp-content/uploads/2016/11/Deutsche-Bank-Survey-87-of-Financial-Market-Participants-Say-Blockchain-Will-Disrupt-The-Industry-1440x564_c.jpg');
  height: 400px;
  color: white;
}

