/*
Cards custom style
*/
.card{
    border:0px;

     box-shadow: 0px 0px 20px rgba(0,0,0,0.02);

    .card-top {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        padding: 1px 5px;
        transition: opacity .2s ease-out;
        background-color: #fff;

         border-top: 2px solid #ddd;
         border-top-left-radius:2px;
         border-top-right-radius:2px;
          &.bg-primary,&.bg-warning,&.bg-success,&.bg-danger,&.bg-info{
         border-top:0px;
         border-bottom:0px;
     }
    }
    .card-title {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 28px;
        margin: 0;
        font-size: .9rem;
        font-weight: 600;
        line-height: 28px;
    }
    .card-options {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-left: 10px;
        .input-group{
            position:relative;
            .input-group-addon{
                padding:0px;
                position:absolute;
                z-index:10;
                background:transparent;
                border:0px;
                right:10px;
                top:5px;
            }
        }
        .form-control{
            border-radius: 100px;
            &.form-control-sm{
                font-size: 12px;
                height: 24px;
                line-height: 12px;
                padding: .10rem .5rem;
            }
        }
        >a{
            width:24px;
            height:24px;
            line-height:24px;
            text-align:center;
            background-color:#eee;
            display:inline-block;
            color:#666;
            border-radius:50%;
        }
    }
    .card-content{
        padding:0px 15px;
    }
    &.header-transparent{
        .card-top{
            background-color:transparent;
        }
    }
}



// add card wagon


.card-wagon {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 5px;
  color: black;
}
.card-user-wagon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category-wagon {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
}

.card-description-wagon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-description-wagon h2 {
  font-size: 24px;
}

.card-description-wagon p {
  font-size: 17px;
  opacity: 0.7;
  font-weight: lighter;
  text-shadow: none;
}

.card-link-wagon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  border-radius: 5px;
}

.card-link-wagon:hover {
  opacity: 0.1;
}


.card-container-wagon {
  flex: 0 auto;
  padding: 0 20px;
}

.card-user-index-wagon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
}

.card-index-wagon {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 5px;
  color: #073F79;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.crypto-title {
  margin-top:70px;
  text-decoration: none;
  color: #ffffff;
}

// Flip Card Hugo

body {
  background: #16a085;
}
.flip-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 650px;
  height: 650px;
  margin: 2em auto;
  overflow: hidden;
  color: #fff;
  border: 2px solid #fff;
  border-radius: .5em;
  display: block;
  font-family: Gotham, "Proxima Nova","Open Sans",Helvetica, sans-serif;
  text-align: center;
  -webkit-transition:
    box-shadow .4s .45s,
    -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 150px;
  -webkit-transform-origin: bottom;
}
[class^="flip-box-"] {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 2em;
  z-index: 2;
  -webkit-perspective: 150px;
  -webkit-transition: opacity .25s .25s linear;
}
h1 {
  padding-top: 5%;
}
p {
  padding-top: 5%;
}
a {
  display: inline-block;
  background: #1abc9c;
  color: #fff;
  border-radius: .25em;
  padding: .25em .5em;
  text-decoration: none;
}
.flip-box-back {
  -webkit-transform: rotateX(180deg);
  -webkit-transition: color .2s .5s, background .2s .5s ease-in-out, opacity .25s .4s linear;
  z-index: 1;
  opacity: 0;
}
.flip-box.flipped {
  -webkit-transform: rotateX(180deg) translateY(15em) translateZ(40px);
  box-shadow: 0 0 .5em #000;
}
.flipped .flip-box-front {
   opacity: 0;
}
.flipped .flip-box-back {
  background: #fff;
  color: #222;
  z-index: 3;
  opacity: 1;
}

