/*
Charts & graphs
*/

.flot-chart{
    height:250px;
    display:block;
    .flot-chart-content{
        width:100%;
        height:100%;
    }
    .flot-chart-pie-content{
        width:200px;
        height:250px;
        margin:0 auto;
    }
}
