/*
Page titles
*/

.page-title{
    .breadcrumb{
        padding: 0px;
        margin: 0px;
        background-color: transparent;
        float: right;
    }
    h4{
        font-weight: 300;
        text-transform: capitalize;
    }
}
