$title-font :"Open Sans",sans-serif;
$base-font: "Open Sans",sans-serif;
$primary-color:#0073ff;
$danger-color:#e65252;
$success-color:#4ebd4a;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#333;
$info-color:#5bc0de;

