
<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>


<main class="main-content">

   <div class="content">
      <div class="container">
         <div class="page-title pt30 pb30">
            <div class="row">
               <div class="col-sm-12">
                  <ol class="breadcrumb float-right">
                     <li class="breadcrumb-item"><a href="#">Home</a></li>
                     <li class="breadcrumb-item ">Charts</li>
                     <li class="breadcrumb-item active">Flot</li>
                  </ol>
                  <h4 class="mb10">Flot Charts</h4>
                  <p class="mb10">Charts & graphs made simple</p>
               </div>
            </div>
         </div>
         <!--page title-->
         <div class='row'>
            <div class='col-md-6 mb30'>
               <div class='card'>
                  <div class="card-top">
                     <h4 class="card-title">Line Chart</h4>
                  </div>
                  <div class='card-content'>
                     <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart"></div>
                     </div>
                  </div>
               </div>
            </div>
            <!--/col-->
            <!--/col-->
            <div class='col-md-6 mb30'>
               <div class='card'>
                  <div class="card-top">
                     <h4 class="card-title">Moving Chart</h4>
                  </div>
                  <div class='card-content'>
                     <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                     </div>
                  </div>
               </div>
            </div>
            <!--/col-->
            <!--/col-->
            <div class='col-md-12 mb30'>
               <div class='card'>
                  <div class="card-top">
                     <h4 class="card-title">Multi Axes Line Chart</h4>
                  </div>
                  <div class='card-content'>
                     <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                     </div>
                  </div>
               </div>
            </div>
            <!--/col-->
         </div>
      </div>
      <!--container-->
   </div>
   <!--content-->
</main>



