<div class="footer-wagon">
  <div class="footer-links-wagon" style="color:#f2efef">
    Made whith CryptoCompare API
  </div>
  <div class="footer-copyright-wagon" style="color:#073F79">
     <i class="fa fa-registered" aria-hidden="true"></i> Crypt-easy
  </div>
</div>
