<div class="main-title">
  <h3>Votre commande</h3>
</div>

<div class="container col-md-6 col-md-offset-3 cryptobox mt30" style="background-color: #ffffff">
  <div class="main-title">
    <h3>Offre "<%= @order.offer_sku %>"</h3>
  </div>
  <div class="col-md-12">
    <article>
      <div class="row">
        <label class="col-md-8">
          <h5 style="opacity: 0.7;">Montant: <h3> <%= humanized_money(@order.amount) %> € par mois </h3></h5>
        </label>
        <br>
        <label class="col-md-4">
          <h5 style="opacity: 0.7;">Status: <h3><%= @order.state %></h3></h5>
        </label>
      </div>
    </article>
  </div>
</div>

