


  <%= link_to "je veux sortir batard", destroy_user_session_path, method: :delete %>
<div class="page-wrapper">
   <main class="main-content" style="margin-bottom: 0px;">
      <!--/////////////////////////////// End navbar////////////////////////////-->
      <div class="content">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="row">
                     <div class='col-md-12'>
                        <div class='card'>
                           <div class="card-top">
                              <h4 class="card-title">Line Chart</h4>
                           </div>
                           <div class='card-content'>
                              <div class="flot-chart1">
                                 <div class="flot-chart-content" id="flot-line-chart0"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class='col-md-12'>
                        <div class='card'>
                           <div class="card-top">
                              <h4 class="card-title">Line Chart</h4>
                           </div>
                           <div class='card-content'>
                              <div class="flot-chart1">
                                 <div class="flot-chart-content" id="flot-line-chart1"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class='col-md-12'>
                        <div class='card'>
                           <div class="card-top">
                              <h4 class="card-title">Line Chart</h4>
                           </div>
                           <div class='card-content'>
                              <div class="flot-chart1">
                                 <div class="flot-chart-content" id="flot-line-chart2"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6" >
                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                  <div class="row">
                    <div class="col-md-12">
                      <div style="box-shadow: 0px 0px 20px rgba(0, 0, 0, .2); border-radius: 5px; padding-right: 5px; padding-left: 5px; margin-right: 15px; margin-left: 14px; margin-bottom: 26px;">
                        <div style="padding: 25px;">
                        <h4 class="card-title"> Service </h4>
                        <p style="color: black;">
                          Crypt easy est un comparateur en temps réel des principales plateformes de trading de crypto-monnaies.
Nous vous aidons à optimiser vos achats-revente de celles-ci pour maximiser vos profits.
                        </p>
                        </div>
                      </div>
                  </div>
                    <div class="col-md-12">
                      <%= render "devise/registrations/new" %>
                    </div>

                  </div>
                </div>
               </div>
            </div>
         </div>
         <!--container-->
      </div>
      <!--content-->
   </main>
   <!--main content-->
</div>

            <!--/////////////////////////////// End Content////////////////////////////-->


