<div class="main-content pt30">
  <div class="content">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="container">
            <div class="mb30">
              <div class="card">
                <div class="card-top">
                  <h4 class="card-title"> Service </h4>
                </div>
                <div class="card-content">
                  <p>
                    le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service, le détail du service,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="layout-accounts">
              <div class="account-wrap">
                <div class="account-card">
                  <div class="account-content smart-forms">
                    <div class="text-center">
                      <%= link_to root_path do %>
                        <%= image_tag "crypteasy.png", height: "50px" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "je veux sortir batard", destroy_user_session_path, method: :delete %>
  </div>
</div>
