
<div class="container">
  <div class="layout-accounts">
    <div class="account-wrap">
      <div class="account-card">
        <div class="account-content smart-forms">
          <div class="text-center">
          </div>
          <div id="contact">
            <div class="form-body">
              <%= simple_form_for [@favorite, @alert] do |f| %>
                <div class="section colm colm6">
                  <%= f.input :price %>
                </div>
                <div class="section colm colm6">
                  <%= f.input :option, collection: ["Superieur", "Inferieur"] %>
                </div>
                <div class="form-footer mt30">
                  <%= f.submit "Create an alert", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
              <div class="text-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
