<div style="background-image: url(https://www.mojix.com/wp-content/uploads/2017/08/blockchain08.jpg);
  background-size: cover;
  text-align: center; height: 80vh;">
  <div class="col-md-12"></div>
    <div class="col-md-6 offset-md-3" style="margin-top: 37vh">
     <div class="card-index-wagon mt20">
      <div>ERREUR 404</div>
        <div class="card-description-wagon text-center" style="margin-top: 30px;">
          Désolé, cette page n'existe plus. Nous nous excusons pour la gène occasionée, cependant la blockchain n'est pas rompue.<br>
          <%= link_to root_path, :class => "btn btn-primary mt20" do %>
            <div class="text-center">Retour à la page principale</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
