<div class="container" style="height: 100vh">
  <div class="row">
    <% @cryptos.each do |crypto|%>
      <div class="col-xs-12 col-md-4 col-sm-3"">
        <div class="card-index-wagon">
          <div class="card-category-wagon"><img src="<%= crypto.photo_url %>", width="50"></div>
          <div class="card-description-wagon"><%= crypto.name%></div>
            <%= link_to crypto_path(crypto), :class => "card-link-wagon" do %>
              <div class="text-center crypto-title">
                <h4><%= crypto.name %></h4>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12 col-md-4 col-sm-3">
      <div class="card-index-wagon">
        <div class="card-description-wagon">Monero</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-3"">
      <div class="card-index-wagon">
        <div class="card-description-wagon">BitcoinCash</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-3"">
      <div class="card-index-wagon">
        <div class="card-description-wagon">Dash</div>
      </div>
    </div>
  </div>
</div>




